<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bangladesh University Of Engineering and Technology</title>
  <link rel="stylesheet" href="/prereq.css"> <!-- Include the external CSS file -->
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src= <%= process.env.LOGO  %> alt="University Logo">
    </div>
    <div class="title">Bangladesh University Of Engineering and Technology</div>
    <div class="gpa-section">
      <span>SSC GPA: <%= gpas[0][1]%> </span>
      <span>HSC GPA: <%= gpas[0][2]%> </span>
    </div>
    <div class="table-container">
    <table class="departments-table">
      <thead>
        <tr>
          <th>University ID</th>
          <th>Dept. Name</th>
          <th>Physics</th>
          <th>Chemistry</th>
          <th>Biology</th>
          <th>Math</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0 ; i<prereqs.length ; i++){ %>
          <tr>
            <td> <%- prereqs[i][0] %></td>
            <td> <%- prereqs[i][1] %></td>
            <td> <%- prereqs[i][2] %></td>
            <td> <%- prereqs[i][3] %></td>
            <td> <%- prereqs[i][4] %></td>
            <td> <%- prereqs[i][5] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </div>
</body>
</html>
